.box1{
    width: 300px;
    height: 200px;
    color: aqua;
    background-color: brown;
    margin: 100px auto;
    border: 3px solid black;
    transition-delay: 1s;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
    transform: translate(-200px,100px);
    position: relative;
}

.box1:hover{
    width: 400px;
    height: 300px;
    transform:rotate(50deg)
}

.form{
    width: 500px;
    height: 350px;
    color: blueviolet;
    background-color: aqua;
    border: 3px solid black;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 100px auto;
    box-shadow: 5px 5px 6px black;
}

h4{
    color: rgb(233, 32, 32);
    font-size:40px;
    background-color: #faebd7;
}


.box2{
    width: 200px;
    height: 100px;
    border: 2px solid black;
    background: linear-gradient(red,green);
}

.box3{
    width: 200px;
    height: 100px;
    border: 2px solid black;
    background: repeating-radial-gradient(red,green,blue);
}

.header{
    width: 95%;
    color: aqua;
    height: 200px;

}

.navber{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navber ul{
    list-style: none;
}

.navber ul li{
width: 200px;
height: 100px;
color: beige;
justify-content: center;
align-items: center;
line-height: 50px;
border: 2px solid black;

}


.box4{
    width: 300px;
    height: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px solid yellow;
    background-color: #8a2be2;
    animation-name: Prity;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-duration: 5s;
    animation-direction: alternate-reverse;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    position: relative;
}

@keyframes Prity{
    0%{
    
        background-color: blue;
        border-radius: 30%;
    }

    50%{
        background-color: green;
        border-radius: 50%;
    }
    100%{

        background-color: yellow;
        border-radius: 70%;
    }
}

.footer{
    height: 100%;
    width:80%;
    justify-content: center;
    align-items: center ;
    text-align: center;
    background-color: black;

}

.footer p{
    font-size: 40px;
    color: white;

}
p{
    background-color: #faebd7;
}